html {
	font-size: 16px;
}

body {
	margin: 0;
}

.container {
	display: flex;
	height: 64px;
    line-height: 2;
    align-items: center;
}

.nav {
	display: flex;
	font-size: 2rem;
	font-family: "Helvetica";
	background-color: #b2c2b2;

}

.nav img {
	height: 4rem;
	margin-left: 24px;
    padding-top: 6px;
}

.nav p {
	position: relative;
	left: 66.5rem;

}