html {
	font-size: 16px;
}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: #bebebe;
;
}

header {
	width: 100%;
	display: flex;
	line-height: 2.8;
	height: 64px;
    font-size: 1.8rem;
    border-bottom: 4px solid white;
    font-family: "Josefin Sans", serif;
    background-color: #b4c1a2;
    background-size: cover;
    background-position: center;
}

header div {
	line-height: 2.6;
	text-shadow: 3px 3px black;
	font-family: "Gloria Hallelujah";
}

.logo {
    padding-top: 9px;
	margin-left: 24px;
	height: 3.4rem;  
}

nav a:hover {
	background-color: #ffff33;
	box-shadow: 3px 3px 3px black;
	transition: background-color 350ms ease-out, box-shadow 350ms ease-out;
}

nav a {
	position: relative;
	line-height: 3.7;
	font-family: "Caveat Brush", "Helvetica", serif;
	text-decoration: none;
	text-shadow: 2px 2px #ffffff;
    background-color:#606060;
    border: solid 3px black;
    border-radius: 20px;
	letter-spacing: 1px;
    margin: 0px 16px 0px 16px;
    padding: 1px 5px;
    font-size: 0.9rem;
    color: black;
    left: 516px;
    bottom: 7px;
}

/*top-banner section*/ 


.top-banner img {
	height: 60%;
	width: 60%;
	margin: 32px 24px 32px 24px; 
	border: solid 4px white;
	border-radius: 4px;
}

.top-banner section  {
  position: absolute;
  left: 866px;
  top: 30%;
}

.large-txt h1 {
  font-family: "Gloria Hallelujah";
  letter-spacing: 2px;
  line-height: 1.3;
  margin-bottom: 2px;
  text-shadow: 4px 3px black;
  color: #ffff00;
  font-size: 50px;
}

.large-txt h3 {
	font-family: "Caveat Brush";
	margin-top: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	font-size: 2rem;
}

.button {
	display: flex;
	text-align: center;
	padding: 8px 0px 8px 153px;
	font-family: "Caveat Brush", serif;
	color: black;
	border: solid 4px black;
    letter-spacing: 2px;
	border-radius: 8px;
    background-color: #606060;
	font-size: 1.5rem;
}

.button:hover {
	background-color: #ffff33;
    box-shadow: 5px 5px 5px black;
    transition: box-shadow 350ms ease-out, background-color 350ms ease-out;
}

.button a {
	text-decoration: none;
	text-shadow: 2px 2px #ffffff;
	font-weight: bold;
	color: black;
}

