html {
	font-size: 16px;
}
body {
	margin: 0;
	overflow-x: hidden;
}


/* header */
header {
	display: flex;
	width: 100%;
	height: 64px;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Josefin Sans", serif;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
header div {
	line-height: 2.4;
    margin-left: 17px;
}
.logo {
	height: 3.5rem;
	margin-bottom: -17px;
}
header span {
	text-shadow: 5px 5px #ffff33;
	font-family: "Gloria Hallelujah";
}
nav {
	display: flex;
	margin-right: 9px;
}
nav a {
	top: 19px;
    height: 22.5px;
    line-height: 1.2;
    position: relative;
	font-family: "Caveat Brush";
	text-decoration: none;
	text-shadow: 2px 2px #ffffff;
    background-color: #fafad2;
    border: solid 2px black;
    border-radius: 20px;
	letter-spacing: 1px;
    margin: 0px 16px 0px 16px;
    padding: 1.5px 5px;
    font-size: 1.1rem;
    font-weight: normal;
    color: black;
    bottom: 7px;
}
nav a:hover {
	background-color: #ffff33;
    box-shadow: 6px 6px 6px black;
    transition: background-color 350ms ease-out, box-shadow 350ms ease-out;
}



/*top-banner section*/ 
.top-banner {
	display: flex;
    background-color: #FAFAD2;
    border-top: solid 1px #d3d3d3;
}
.top-banner img {
	height: 500px;
	width: 57.5%;
	margin: 32px 24px 32px 24px; 
	border: solid 4px #d3d3d3;
	border-radius: 20px;
}
.top-banner section  {
    margin-top: 70px;
    margin-left: 0px;
}
.top-banner h1 {
    font-family: "Kranky";
    letter-spacing: 2px;
    line-height: 1.3;
    margin-bottom: 2px;
    text-shadow: 3px 3px #ffff33;
    color: black;
    font-size: 3.5rem;
    font-weight: normal;
}
.top-banner h3 {
	font-family: "Kreon", serif;
	margin: 20px 0px 30px 3px;
	letter-spacing: 1.5px;
    word-spacing: 8px;
	font-weight: normal;
	font-size: 1.5rem;
	width: 100%;
}
.button {
	display: flex;
	justify-content: center;
	padding: 12px 0px 12px 0px;
	line-height: 0.8;
	font-family: "Caveat Brush";
	font-weight: normal;
	color: black;
	border: solid 3px black;
    letter-spacing: 2px;
	border-radius: 20px;
    background-color: #ffffff;
    font-size: 1.5rem;
}
.button:hover {
	background-color: #ffff33;
	box-shadow: 10px 10px 10px black;
	transition: box-shadow 350ms ease-out, background-color 350ms ease-out;
}
.button a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}


/* main-content */
  /* top-section */
.main-content {
	display: flex;	
	border-top: solid 1px #d3d3d3;
}
.main-content .top-section {
	margin-left: 24px;
}
.top-section {
    width: 60%;
}
.top-section img {
	width: 100%;
    margin: 32px 0px 16px 0px; 
    border: solid 4px #d3d3d3;
    border-radius: 20px;
}
.top-section h2 {
	margin-top: 0px;
	font-family: "Kranky"; 
	letter-spacing: 2px;
	font-size: 2.9rem;
	color: black;
	text-shadow: 3px 3px #ffff33;
	font-weight: normal;
}
.top-section p {
	width: 100%;
	font-family: "Kreon", serif;
	font-size: 1.1rem;
	line-height: 1.4;
	letter-spacing: 0.8px;
	word-spacing: 2px; 
	margin: -9px 0px 11.4px 0px;
	font-weight: normal;
}
.top-section div {
	font-family: "Kreon", serif;
	letter-spacing: 0.6px;
	font-size: 0.8rem;
	font-weight: normal;
	margin-bottom: 32px;
	word-spacing: 1px;
}

/* main-content */
  /* (bottom)/(right) section */
.main-content .info-images {
    width: 40%;
    display: flex;
    margin-left: 32px;
    margin-top: 32px;
    flex-direction: column;
}  
.main-content .info-images div {
	display: flex;
	border-bottom: solid 1px #d3d3d3;
	border-left: solid 1px #d3d3d3;
}
.main-content .info-images div:first-child {
	border-top: none;
}
.main-content .info-images div:nth-child(even) {
    padding-top: 16px;
}
.main-content .info-images div:last-child {
    padding-top: 16px;
    background-color: #FAFAD2;
	border-bottom: none;
}
.main-content .info-images img {
	width: 35%;
	height: 11.1rem;
	border: solid 4px #d3d3d3;
	border-radius: 20px;
	margin: 0px 0px 16px 16px;
	box-shadow: 4px 5px black;
}
.main-content .info-images h3 {
	width: 100%;
	font-size: 1.8rem;
	letter-spacing: 1px;
	font-weight: normal;
	text-shadow: 2px 2px #ffff33;
	margin: 0px 0px 8px 0px;
	font-family: "Josefin Sans";
}
.main-content .info-images section{
	width: 65%;
	margin: 40px 0px 0px 16px;
	flex-direction: column;
	letter-spacing: 0.8px;
	font-size: 1.1rem;
}
.main-content .info-images span {
    letter-spacing: 0.8px;
    font-family: "Kreon", serif;
}
.main-content .info-images p {
	margin-top: 8px;
	font-family: "kreon", serif;
}
.main-content .info-images a {
	color: black;
}
.main-content .info-images a:hover {
    color: #d3d3d3;
    transition: color 150ms ease-in-out;  
}


/*main-section */
 /* Start-Learning */
.Careers {
	width: 100%;
    background-color: #fafad2;
    margin-bottom: 32px;
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
}

.Careers h2 {
	position: relative;
	top: 22px;
	font-family: "Kranky";
	font-weight: normal;
	font-size: 2.9rem;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 3px 3px #ffff33;
    margin: 0px 0px 42px 0px;
}
.Boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.Boxes div {
    background-color: #ffffff;
    border: solid 4px #d3d3d3;
    margin: 0px 17px 32px 17px;
    font-family: "Kreon", serif;
    box-shadow: 5px 6px black;
    border-radius: 24px;
    width: 26%;
}
.Boxes img {
	width: 100%; 
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.Boxes h3 {
    margin: 16px 0px 8px 16px;
    letter-spacing: 0.8px;
}
.Boxes span {
	margin: 0px 0px 0px 16px;
	letter-spacing: 0.7px;
}
.Boxes p {
	margin: 8px 0px 24px 16px;
	letter-spacing: 0.8px;
	line-height: 1.5rem;
	font-family: "Kreon", serif;
	font-size: 1.1rem;
}


/*top-section */
 /*Thesis-Exibit */
.title h2 {
	text-align: center;
	font-family: "Kranky";
	font-size: 2.9rem;
	font-weight: normal;
	letter-spacing: 2px;	
	text-shadow: 3px 3px #ffff33;
	margin: -10px 0px 22px 0px
}
.Thesis-content {
	display: flex;
	border-bottom: solid 1px #d3d3d3;
}
.Thesis-content .top-section {
	width: 60%;
	margin: 0px 24px 32px 24px;
}
.Thesis-content .top-section h3 {
	font-family: "Josefin Sans";
	text-shadow: 2px 2px #ffff33;
	margin: 24px 0px 0px 0px;
	font-weight: normal;
	font-size: 1.8rem;
    letter-spacing: 1px;
}
.Thesis-content .top-section p {
	margin-top: 8px;
	font-family: "kreon", serif;
}
.Thesis-content video {
	height: auto;
	width: 100%;
	border: solid 4px #d3d3d3;
}
.Thesis-content .images {
	display; flex;
	flex-direction: column;
	width: 40%;
}
.Thesis-content .images div {
	width: 100%;
	height: 30.5%;
	display: flex;
	background-color: #fafad2;
	border: solid 1px #d3d3d3;
    padding: 16px 0px 16px 16px;
}
.Thesis-content .images div:first-child {
    border-top: none;
    border-bottom: none;
}
.Thesis-content .images div:nth-child(2n+2) section {
    margin-top: 25px;
}
.Thesis-content .images div:last-child {
	border-bottom: none;
}
.Thesis-content .images img {
	width: 35%;
	height: 11.1rem;
	border: solid 4px #d3d3d3;
	border-radius: 20px;
	box-shadow: 4px 5px black;
}
.Thesis-content .images section {
	margin-left: 16px;
	width: 50%;
	font-size: 1.1rem;
}
.Thesis-content .images h3 {
	width: 100%;
	font-family: "Josefin Sans";
	font-size: 1.8rem;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: 1px;
	text-shadow: 2px 2px #ffff33;
	margin-bottom: 8px;
}
.Thesis-content .images span {
	font-family: "Kreon", serif;
	letter-spacing: 0.8px;
}
footer  {
	width: 100%;
	display: flex;
	font-family: "Kreon", serif;
	justify-content: space-between;
	margin: 16px 0px 32px 24px;
}
footer span {
	font-size: 0.8rem;	
}
footer .terms {
	word-spacing: 10px;
	margin-right: 48px;
}




/* MEDIA QUERIES */
/* DESKTOP MEDIA QUERIES */

/* header desktop 880px mq */
@media only screen and (min-width: 880px) {

nav.mobile-nav-container {
	display: none;
 }
}

/* header desktop 880px mq */
@media only screen and (max-width: 880px) {

nav.mobile-nav-container {
	display: none;
}

nav.desktop {
	font-size: 0.6rem;
}  

header .logo {
	height: 2.4rem;
	margin-bottom: -12px;
}
header div {
	position: relative;
	top: 11px;
	font-size: 1.2rem;
	bottom: -17px;
}
header nav a {
	top: 22px;
	height: 16px;
	font-size: 0.9rem;
}
}

@media only screen and (max-width: 1234px) {
	.top-banner section {
		margin-top: 65px;
	}
}

@media only screen and (max-width: 1099px) {
.top-banner section {
		margin-top: 20px;
	}
}


 /* top-banner desktop 1049px mq */
@media only screen and (max-width: 1080px) {

.top-banner section {
	margin-top: 20px;
}

.top-banner h3 {
	font-size: 1.3rem;
}

.button {
	font-size: 1.4rem;
}
}

/* top-banner desktop 866px mq */
@media only screen and (max-width: 866px) {

.top-banner h1 {
	font-size: 2.8rem;
}
.top-banner h3 {
    font-size: 1.2rem;
}
.top-banner section {
	margin-top: 50px;
}
.button {
	font-size: 1.3rem;
}
}
/* top-banner desktop 825px mq */
@media only screen and (max-width: 825px)  {

.top-banner section {
	margin-top: 27px;
	}
}




/* MOBILE MEDIA QUERIES */

/* header mobile 660px mq */  
@media only screen and (max-width: 725px) {

nav.desktop {
	display: none;
}

header div {
	display: none;
}

nav.mobile-nav-container {
	display: flex;
	justify-content: space-evenly;
    width: 100%;
}

.top-banner {
	display: block;
}

.top-banner img {
	width: 100%;
	height: 300px;
	margin: 0px 0px -23px 0px;
	border-radius: 0px;

}

.top-banner section {
	text-align: center;
	margin: 0px 0px 32px 16px;
}

.top-banner h1 {
	font-size: 2.8rem;
}

.top-banner h3 {
    font-size: 1.2rem;
}

.button {
	justify-content: center;
	padding-left: 0px;
	margin-right: 16px;
	font-size: 1.3rem;
}
}

/* top-banner mobile 480px mq */
@media only screen and (max-width: 480px) {
	
.top-banner h1 {
    font-size: 2rem;
}

.top-banner h3 {
		font-size: 1rem;
}

.button  {
	font-size: 1.1rem;
	padding: 9px 0px 9px 0px;
}
}


/* top-banner mobile 380px mq */
@media only screen and (max-width: 380px) {

.top-banner h3 {
	font-size: 1rem;
}

.button  {
	font-size: 1rem;
	padding: 7px 0px 7px 0px;
}
}

/* top-banner mobile 310px mq */
@media only screen and (max-width: 310px) {

.top-banner h1 {
	font-size: 1.5rem;
 }
.top-banner h3 {
	font-size: 0.9rem;
}

.button {
	font-size: 0.9rem;
}
}

/* MAIN-CONTENT DESKTOP*/

/* main-content desktop 725px */
@media only screen and (max-width: 725px) {

.main-content .top-section  {
	display: none;
}

.main-content .info-images {
    width: 100%;
    margin: 16px 16px 0px 16px;

}
.main-content .info-images div {
	display: flex;
	flex-wrap: wrap;
	border: none;
}

.main-content .info-images img {
	width: 100%;
	height: auto;
	margin: 0;
	border-radius: 0px;
}

.main-content .info-images section {
    margin: 32px 0px 32px 16px;
}
.main-content .info-images h3 {
	font-size: 1.6rem;
}
}


/* MAIN-SECTION - CAREERS */
/* Start-learning desktop 725px */
@media only screen and (max-width: 725px) {
.Careers {
	width: 100%;
	text-align: center;
}

.Careers h2 {
	font-size: 2.8rem;
	margin: 1px 0px 43px 0px;
}

.Boxes {
	display: flex;
	flex-direction: column;
}
.Boxes div {
	width: 100%;
	border-radius: 0px;
	margin-left: 0px;
}
.Boxes img ,span, p {
	display: none;
}
.Boxes h3 {
	width: 100%;
	
}
}